<mat-toolbar color="primary">
    <span routerLink="/">Learn checkers</span>
    <span class="spacer"></span>
    
    <ng-container *ngIf="isLoggedIn; else loggedOut">
      <button mat-button routerLink="">
        <mat-icon>account_circle</mat-icon>
        {{ username }}
      </button>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </ng-container>
  
    <ng-template #loggedOut>
      <button mat-button routerLink="/login">
        <mat-icon>login</mat-icon>
        Login
      </button>
      <button mat-button routerLink="/register">
        <mat-icon>person_add</mat-icon>
        Register
      </button>
    </ng-template>
  </mat-toolbar>
  